<%- include ('../partials/userHeader') %>

<main class="main">
  <div class="page-header breadcrumb-wrap">
      <div class="container">
          <div class="breadcrumb">
              <a href="/" rel="nofollow">Home</a>
              <span></span> Profile
              <span></span> Edit Address
          </div>
      </div>
  </div>
  <section>
    <div class="container custom-container mt-4  " >
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="card-header">
              <h5>Edit address</h5>
          </div>
          <div class="card-body">
              
              <form method="post" action="/editAddress?id=<%= address._id %>" name="enq">
                  <div class="row">
                      <div class="form-group col-md-6">
                          <label> Name <span class="required">*</span></label>
                          <input required="" value="<%= address.name %>" class="form-control square" style="border-width: 2px;" name="name" type="text">
                      </div>
                      
                      <div class="form-group col-md-12">
                          <label>Mobile <span class="required">*</span></label>
                          <input required="" value="<%= address.mobile %>" class="form-control square" style="border-width: 2px;" name="mobile" type="number">
                      </div>
                      <div class="form-group col-md-12">
                          <label>House Name <span class="required">*</span></label>
                          <input required="" value="<%= address.houseName %>" class="form-control square" style="border-width: 2px;" name="houseName" type="text">
                      </div>
                      <div class="form-group col-md-12">
                          <label>City / Town<span class="required">*</span></label>
                          <input required="" value="<%= address.cityOrTown %>" class="form-control square" style="border-width: 2px;" name="cityOrTown" type="text">
                      </div>
                      <div class="form-group col-md-12">
                          <label>Pincode <span class="required">*</span></label>
                          <input required="" value="<%= address.pincode %>" class="form-control square" style="border-width: 2px;" name="pincode" type="number">
                      </div>
                      <div class="form-group col-md-12">
                          <label>District<span class="required">*</span></label>
                          <input required="" value="<%= address.district %>" class="form-control square" style="border-width: 2px;" name="district" type="text">
                      </div>
                      <div class="form-group col-md-12">
                          <label>State<span class="required">*</span></label>
                          <input required="" value="<%= address.state %>" class="form-control square" style="border-width: 2px;" name="state" type="text">
                      </div>
                      <div class="form-group col-md-12">
                          <label>Country<span class="required">*</span></label>
                          <input required="" value="<%= address.country %>" class="form-control square" style="border-width: 2px;" name="country" type="text">
                     </div>
                      <div class="col-md-12">
                          <button type="submit" class="btn btn-fill-out submit" name="submit" value="Submit">Update</button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
     </div> 
  </div>

  </section>
  </main>
  <%- include ('../partials/userFooter') %>